:root {
  --clr-primary-1: #01080e;
  --clr-primary-2: #011627;
  --clr-primary-3: #011221;

  --clr-secondary-1: #607b96;
  --clr-secondary-2: #3c9d93;
  --clr-secondary-3: #4d5bce;
  --clr-secondary-4: #ffffff;

  --clr-accent-1: #fea55f;
  --clr-accent-2: #43d9ad;
  --clr-accent-3: #e99287;
  --clr-accent-4: #c98bdf;

  --clr-lines: #1e2d3d;
}

* {
  padding: 0;
  margin: 0;
}

article {
  display: flex;
  height: 90vh;
  width: 50%;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  height: 90vh;
  width: 50%;
}

body {
  background: #011627;
  background-repeat: no-repeat;
  color: var(--clr-secondary-1);
  border: 1px solid var(--clr-lines);
  padding-bottom: 14px;
}

.navcenter {
  height: 5vh;
  display: flex;
  border-bottom: 1px solid var(--clr-lines);
  align-items: center;
}

.nav-line {
  height: 5vh;
  width: 1px;
  background-color: var(--clr-lines);
}

.nav-item {
  text-decoration: none;
  color: var(--clr-secondary-1);
  width: 8vw;
  display: flex;
  justify-content: center;
}

.nav-name {
  padding-left: 10px;
  width: 15vw;
  align-items: left;
}

.nav-contact-me {
  position: absolute;
  right: 0;
}

.bh-cm {
  position: absolute;
  right: 8vw;
}

footer {
  border-top: 1px solid var(--clr-lines);
  width: 100vw;
  position: absolute;
  bottom: 2vh;
  display: flex;
  align-items: center;
}

.footer-center {
  height: 2vh;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.footer-icon {
  height: 3vh;
  width: 3vh;
  color: #1c2b3f;
}

.github {
  position: absolute;
  right: 10px;
}

.github-tag {
  position: absolute;
  right: 45px;
}

.fline {
  margin: 0 10px 0;
  height: 5vh;
  width: 1px;
  background-color: var(--clr-lines);
}

.gitline {
  position: absolute;
  right: 130px;
}

.index-info {
  color: #ffffff;
}
.index-info h1 {
  font-size: 60px;
}
.index-info h4 {
  font-size: 30px;
  color: var(--clr-secondary-3);
  padding-bottom: 60px;
}

.github-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.s1 {
  color: var(--clr-secondary-1);
}

.s2 {
  color: var(--clr-secondary-2);
}

.s3 {
  color: var(--clr-secondary-3);
}

.a1 {
  color: var(--clr-accent-1);
}

.a3{
  color:var(--clr-accent-3);
}

.index-info p {
  line-height: 30px;
}

/*about me sidebar*/

.asb {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 3vw;
  height: 87vh;
  border-right: 1px solid var(--clr-lines);
}

.asb-icons {
  height: 4vh;
  width: 3vh;
  padding: 2vh 0 2vh;
  color: rgb(39, 62, 83);
}

.bulb {
  color: rgb(96, 123, 150);
}

.amsb {
  width: 12.6vw;
  height: 87vh;
  border-right: 1px solid var(--clr-lines);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexhscb {
  width: 12vw;
  display: flex;
  justify-content: space-center;
  padding: 9px 5px;
  border-bottom: 1px solid var(--clr-lines);
}

.flexhscb p {
  color: #ffffff;
  align-text: center;
}

.amsb-icons {
  color: rgb(255, 255, 255);
  height: 3vh;
  width: 3vh;
}

.flexhsb {
  width: 12vw;
  display: flex;
  justify-content: space-center;
  padding: 9px 5px;
}

.about-me {
  min-width: 42vw;
  height:90vh;
}

.am-header{
  display:flex;
  width:42vw;
  height:5.4vh;
  border-bottom:1px solid var(--clr-lines);
  border-right:1px solid var(--clr-lines);
  align-items:center;
}

.am-header p{
  padding:0 10px 0 10px;
}

.text-container{
  width:42vw;
  height:81.6vh;
  border-right:1px solid var(--clr-lines);
  display:flex;
}

.sl-no{
  padding:30px 10px 0 10px;
  line-height:1.5rem;
}

.sl-no p{
  width:50px;
  display:flex;
  justify-content:right;
  padding-right:30px;
}

.text{
  padding:30px 0 0 0;
  line-height:1.5rem;
}

.am-scroll{
  margin-left:72px;
  width:10px;
  height:81.6vh;
  border-left:1px solid var(--clr-lines);
}

.active{
  border-bottom:5px solid var(--clr-accent-1);
  color:#ffffff;
}

.svg{
  height:82.8vh;
}

.link{
  text-decoration:none;
  color:var(--clr-secondary-1);
}


/* contact-me */

.cm-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right:1px solid var(--clr-lines);
  width:15.66vw;
  height:87.2vh;
}

.flexhsbal{
  display:flex;
  align-items:left;
  padding:10px 120px 10px 10px;
}

.cm-header{
  min-height:5.4vh;
  width:84.2vw;
  border-bottom:1px solid var(--clr-lines);
}

.cm-header-center{
  display:flex;
  align-items:center;
  padding-left:10px;
  max-height:5.4vh;
}

.cm-form {
  min-width: 35vw;
  height:81.6vh;
  border-right:1px solid var(--clr-lines);
  display:flex;
  flex-direction:column;
  align-items:center;
}

.form{
  width:20vw;
  display:flex;
  flex-direction:column;
  padding-top:10vh;
}

.form label{
  padding-bottom:5px;
}

.form input{
  padding:10px;
}

.form textarea{
  padding:10px;
}

.form textarea:focus{
  outline:1px solid var(--clr-lines);
  border:1px solid var(--clr-secondary-1);
}

.form input:focus{
  outline:1px solid var(--clr-lines);
  border:1px solid var(--clr-secondary-1);
}

.input{
  margin-bottom:20px;
  background-color:#011221;
  border:1px solid var(--clr-lines);
  border-radius : 8px;
  color:var(--clr-secondary-1);
  font-size:17px;
}

.submit-button{
  color:#ffffff;
  background-color:var(--clr-lines);
  border:none;
  border-radius:8px;
  padding:10px;
  width:140px;
}

.submit-button p{
  letter-spacing:1.2px;
}

.cm-js {
  min-width:49vw;
  height:81.6vh;
}

.cm-js-center{
  padding:100px 50px;
}

.flex{
  display:flex;
}

.pr-10{
  padding-right:10px;
}

.pl-20{
  padding-left:20px;
}

.cm-js p{
  padding-top:3px;
  padding-bottom:6px;
}

.word-wrap{
  max-width:50vh;
  word-wrap:word-break;
  color:var(--clr-accent-1);
  overflow:hidden;
}